<form action="/blog" method="POST">
    <input type="text" name="heading" placeholder="Enter blog heading" class="titles" required>
    <input type="text" name="subtitle" placeholder="Enter blog subtitle" class="titles" required>
    <div>
        <textarea name="content" id="content" placeholder="Enter the blog content" required rows="10" cols="100"></textarea>
    </div>
    
    <input type="submit" value="Create Blog" id="btn">
</form>