<nav class="navbar">
    <h1>Bitcoiners</h1>
    <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/newblog">Create Blog</a></li>
    </ul>
</nav>