<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="about-content">
        <h1>About US</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, harum. Iste, illo. Ex veritatis modi quod nostrum assumenda rerum! Qui perferendis nemo aperiam magni in enim et atque, temporibus quisquam?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At delectus, dolorem debitis possimus excepturi necessitatibus exercitationem incidunt, deleniti vel quasi aspernatur dolor beatae temporibus neque suscipit sequi. Voluptatem, odio ratione.</p>
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
        <ul>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit.</li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae blanditiis provident porro at eaque, obcaecati sint quam necessitatibus laborum fugit repudiandae eum quaerat perferendis, est harum dignissimos! Expedita, laborum eum?</p>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>