<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoiners - Blog</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="content">
        <%- include("partials/nav.ejs") %>
    </div>

    <div>
        <h1 class="blog-header">BLOG</h1>
    </div>
    <div class="blog-content">
        <% if (blogs.length == 0) { %>
            <h1>No blogs to display yet</h1>
        <% } else { %>
            <div class="blog-snippet-parent">
                <%- include('partials/blogSnippet.ejs') %>
            </div>
            <form action="/clear" method="POST">
                <input type="submit" value="Clear Blogs" id="btn" class="btn-1">
            </form>
        <% } %>
    </div>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>