<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Blog</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="newBlog">
        <h1>Create New Blog</h1>
        <%- include('partials/createBlog.ejs') %>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>